# Copy this file to .env.production and .env.development
# Update the values as needed

# Development
REACT_APP_API_URL=http://localhost:5001/api
REACT_APP_ENV=development

# Production
REACT_APP_API_URL=https://curalink-backend-l45u.onrender.com/api
REACT_APP_ENV=production

