# Auto detect text files and perform LF normalization
* text=auto

# Frontend files
frontend/*.js text eol=lf
frontend/*.jsx text eol=lf
frontend/*.css text eol=lf
frontend/*.json text eol=lf

# Backend files
backend/*.js text eol=lf
backend/*.json text eol=lf

# Markdown files
*.md text eol=lf

# Shell scripts
*.sh text eol=lf

